<template>
  <div class="container">
    <div class="flex">
      <div class="input-group">
        <input
          type="text"
          v-model="idAcount"
          placeholder="Digite su cuenta"
          class="form-control"
          aria-label="Dollar amount (with dot and two decimal places)"
        >
        <div class="input-group-append">
          <span class="input-group-text">Balance:$ {{balance}}</span>
        </div>
      </div>
      <div class="input-group">
        <!--<button id="btnBalance" v-on:click="getBalance()" type="button" class="btn btn-success">Consultar Balance</button>-->
        <VueLoadingButton
            id="btnBalance"
            aria-label="Post message"
            class="btn btn-success"
            @click.native="getBalance"
            :loading="isLoading"
            :styled="isStyled"
            >{{messageButton}}
        </VueLoadingButton>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import VueLoadingButton from "vue-loading-button";
export default {
  data: function() {
    return {
      idAcount: "",
      balance: 0.0,
      isLoading: false,
      isStyled: false,
      messageButton:"Consultar Balance"
    };
  },
  computed: {
    validation() {
      return this.idAcount.length > 4 && this.idAcount.length < 13;
    }
  },
  methods: {
    getBalance() {
      this.messageButton ="Consultando ...";
      this.isLoading = true;
      axios.get("https://transactiongcs.azurewebsites.net/api/Transaction/ConsultBalance?idAccount="+this.idAcount,)
      .then(response => {
        this.balance = response.data.balance;
        this.isLoading = false;
        this.messageButton ="Consultar Balance";
        
      })
      .catch(function (error) {

        this.isLoading = false;
        this.messageButton ="Consultar Balance";
        // handle error
        console.log(error);
        
      })
    }
  }
  ,
  components: {
      VueLoadingButton
  }
};
</script>
<style scoped>
#btnBalance {
  margin-top: 5px;
}
</style>
