<template>
    <div class="container" style="margin-top: 20px;">
        <div class="flex">
            <div class="card">
                <h5 class="card-header">Hacer Tranasacciones. </h5>
                <div class="card-body">
                    <form v-on:submit.prevent="onSubmit">
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Cuenta de origen</label>
                            <input v-model="acountFrom" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Digite su cuenta">
                        </div>
                        <div class="form-group ">
                            <label class="" for="exampleInputPassword1">Cuenta destino</label>
                            <input v-model="acountTo" type="text" class="form-control"  placeholder="Digite la cuenta destino">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Monto a Transferir</label>
                            <input v-model="amount" type="text" class="form-control"  placeholder="0.00">
                        </div>
                        <VueLoadingButton
                            aria-label="Post message"
                            class="btn btn-primary"
                            @click.native="createTransaction"
                            :loading="isLoading"
                            :styled="isStyled"
                            >{{messageButton}}
                        </VueLoadingButton>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import VueLoadingButton from "vue-loading-button";

export default {
    
    data: function(){
        return {
            acountFrom:0,
            acountTo:0,
            amount:0,
            isLoading: false,
            isStyled: false,
            messageButton:"Transferir",
        }
    },  
    methods:{
        createTransaction()
        {
            this.isLoading = true;
            this.messageButton = "Transfiriendo ..";
            axios.post("https://transactiongcs.azurewebsites.net/api/Transaction/MakeTransaction",
            {
                "amount": this.amount,
                "fromAccount": this.acountFrom,
                "toAccount": this.acountTo
            })
            .then(response => {
                console.log(response.data.description);
                this.isLoading = false;
                console.log("Listo.");
                this.messageButton = "Transferir"
                this.amount =0.00;
                this.acountFrom = 0;
                this.acountTo = 0;
                   
            })
            .catch(function (error) {
                // handle error
                console.log(error);
                
            })
            
        },
    },
    components: {
        VueLoadingButton
    }
    
}
</script>
<style scoped>
     label{
        display: block;
        text-align: left;
        padding: 10px;
        font-weight: bold;
    }
    .m20{
        margin-top: 20px;
    }
    button{
        display: block;
        text-align: left;
    }
</style>